.projects-section {
  display: flex;
  margin: 5vh auto 5vh auto;
  width: 50%;
  place-items: center;
  justify-content: center;
  align-items: center;
}

.projects-section--project-margins {
  margin-right: 4rem;
}

@media screen and (max-width: 1000px) {
  .projects-section {
    display: block;
    margin: 5vh auto 5vh auto;
    max-width: 50%;
    place-items: center;
    justify-content: center;
    align-items: center;
  }
  
  .projects-section--project-margins {
    margin-bottom: 1rem;
  }
}
