.education-section {
  margin: 5vh auto 5vh auto;
  padding: 1rem;
  max-width: 50%;
  border-radius: 1rem;
}

.education-school-image {
  margin: 2rem auto 2rem auto;
  border-radius: 3rem;
  width: 50rem;
}

.education-school-icon {
  margin: 0 auto 0 auto;
  width: 10rem;
}

.education-text {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  align-self: center;
}

@media screen and (max-width: 750px) {
  .education-section {
    max-width: 90%;
  }
}