/* Navbar Styling */
.navbarText {
  color: white !important;
}

.navbar__opac {
  background-color: black;
  opacity: 0.75 !important;
}

.navhover:hover {
  transform: scale(1.1);
}

.is__active {
  background-color: rgb(240, 98, 4);
  border-radius: 0.5em;
}