/* Media queries for screen sizes */
@media screen and (max-width: 800px) {
  img.social__media {
    width: 30px !important;
    text-align: center !important;
    transition: 0.4s ease-out !important;
  }

  img.social__media:hover {
    transform: scale(1.2) !important;
  }

  .change__smaller__screen {
    display: inline !important;
  }
}

@media screen and (min-width: 800px) {
  img.social__media {
    width: 40px !important;
    text-align: center !important;
    transition: 0.4s ease-out !important;
  }

  img.social__media:hover {
    transform: scale(1.2) !important;
  }

  .change__smaller__screen {
    display: inline !important;
  }
}

.footer__container {
  background-color: gray;
  color: white;
}

.react__anchor {
  color: white;
}