@media screen and (max-width: 800px) {
  .school__logo {
    width: 20vw;
    height: 16vh;
  }
}

@media screen and (min-width: 801px) {
  .school__logo {
    width: 20vw;
    height: 40vh;
  }
}

/* Styling each section */
.education__section__style {
  border: 2px solid #FFFFFF;
  background: url(../assets/education-section-bg2.png);
  background-size: cover;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;          /* Firefox */
  image-rendering: -o-crisp-edges;            /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor; 
  background-repeat: no-repeat;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 
    2px 2px 1px 1px darkgray,
    -2px -2px 1px 1px darkgray;
}

.education__header {
  color: white;
}

.education__grid__container {
  display: grid;
  grid-gap: 1vw;
  margin-top: 2vh;
  grid-template-columns: auto;
}

.education__grid__item {
  color: white;
  padding: 1vw;
  text-align: left;
}