/* Media queries for screen sizes */
@media screen and (max-width: 800px) {
  /* Experience Sizing */
  .experience__grid__container {
    margin-top: 2vw !important;
    display: grid !important;
    grid-gap: 0.5vw !important;
    grid-template-columns: auto !important;
  }

  .experience__grid__size {
    width: 50vw !important;
  }
}

@media screen and (min-width: 800px) {
  /* Experience Sizing */
  .experience__grid__container {
    margin-top: 2vw !important;
    display: grid !important;
    grid-gap: 0.5vw !important;
    grid-template-columns: auto auto auto !important;
  }

  .experience__grid__size {
    width: 25vw !important;
  }
}

/* Styling experience section */
.experience__section__style {
  border: 2px solid #FFFFFF;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 
    2px 2px 1px 1px darkgray,
    -2px -2px 1px 1px darkgray;
}

.experience__position {
  color: purple !important;
}

.experience__grid__item {
  padding: 3vw;
  margin-top: 2vh;
  text-align: center;
  border-width: 1em;
  border-style: solid;
  border-radius: 1em 2em 1em 2em;
  border-image: linear-gradient(to bottom, red, blue) 1 100%;
  box-shadow: 
  0px 1px 1px 1px #0AE3EF,
  0px -1px 1px 1px #EF0A30;

  background-image: linear-gradient(#35ADFD, #35ADFD), linear-gradient(#FFFFFF, #FFFFFF);
  background-size: 0 100%, auto;
  background-repeat: no-repeat;
  background-position: center center;
  transition: all .5s ease-out;
}

.experience__grid__item:hover {
  color: #FFFFFF;
  background-size: 100% 100%, auto;
}
.experience__grid__item:hover a {
  color: #FFFFFF;
}

.tooltip__list {
  list-style: none;
}