.footer-section {
  display: flex;
  place-items: center;
  align-content: center;
  justify-content: center;
}

.footer-text {
  align-self: center;
  margin-left: 1rem;
}

@media screen and (max-width: 500px) {
  .footer-section {
    display: block;
    place-items: center;
    align-content: center;
    justify-content: center;
  }

  .footer-section--container {
    display: flex;
    place-items: center;
    align-content: center;
    justify-content: center;
  }

  .footer-text {
    align-self: center;
  }
}