/** General element style changes */
*, *::before, *::after {
  box-sizing: border-box;
}

/** Common general styling */
.d-flex {
  display: flex;
}

.text-center {
  text-align: center;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

/** Common section styling */
.section-common {
  font-weight: 200;
  min-height: 90vh;
}

.section-spacing {
  margin-top: 1vh;
  margin-bottom: 5vh;
}

.divider--thick {
  border-top-width: 0.1rem;
  border-bottom-width: 0.1rem;
}

/** Box shadow styling */
.morph-bg {
  box-shadow:
    0.5rem 0.75rem 1rem 0 #080000,
    -0.375rem -0.375rem 0.75rem 0 rgba(255, 255, 255, 0.3);
}

.reverse-morph-bg {
  box-shadow:
    0.5rem 0.75rem 1rem 0 rgba(255, 255, 255, 0.3),
    -0.375rem -0.375rem 0.75rem 0 #080000;
}

/** Wobble animation */
.wobble-vertical-on-hover:hover {
  -webkit-animation-name: wobble-vertical-on-hover;
  animation-name: wobble-vertical-on-hover;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@-webkit-keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes wobble-vertical-on-hover {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
