/* Media queries for screen sizes */
@media screen and (max-width: 800px) {
  img.social__media {
    width: 30px !important;
    text-align: center !important;
    transition: 0.4s ease-out !important;
  }

  img.social__media:hover {
    transform: scale(1.2) !important;
  }

  .change__smaller__screen {
    display: inline !important;
  }
}

@media screen and (min-width: 800px) {
  img.social__media {
    width: 40px !important;
    text-align: center !important;
    transition: 0.4s ease-out !important;
  }

  img.social__media:hover {
    transform: scale(1.2) !important;
  }

  .change__smaller__screen {
    display: inline !important;
  }
}

/* General Styling */
html {
  scroll-behavior: smooth !important;
}

body {
  background: url('./assets/calmbg.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

/* Logo styling */
.logo {
  width: 100px;
  height: 75px;
  float: left;
  margin-right: -5em;
}

/* Navbar Styling */
.navbarText {
  color: white !important;
}

.navbar__opac {
  background-color: black;
  opacity: 0.75 !important;
}

.navhover:hover {
  transform: scale(1.1);
}

.is__active {
  background-color: rgb(240, 98, 4);
  border-radius: 0.5em;
}

/* About Me */
.about__background {
  color: white;
  margin: 0vh 0vh 0vh 0vh;
}

/* Cover photo sizing */
.profile__picture {
  max-width: 100%;
  max-height: 75%;
}

/* Every section fits 100vh */
.big__section {
  width: 100%;
  height: 100vh;
}

/* staying each section */
.section__style {
  border: 2px solid #FFFFFF;
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 
    2px 2px 1px 1px darkgray,
    -2px -2px 1px 1px darkgray;
}

/* Modal Styling */
.close__button {
  border: none;
  background-color: transparent;
}

.close__button__text {
  color: gray;
  font-size: 1.5em;
}

/* Center quote of the home cover */
#center-quote {
  padding: 4em 2em 4em 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: black;
  background-color: rgb(236, 236, 236);
  border-radius: 0.5em;
  width: 70%;
}

/* Home background */
#home {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/mountain_climbing.png);
  background-size: cover;
  background-repeat: no-repeat;
}