/* General Styling */
html {
  scroll-behavior: smooth !important;
}

body {
  background: url('./assets/calmbg.png') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
